:root {
  background-color: #3a3333;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  position: center;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.intro-para {
  color: #ffffff;
  line-height: 2;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.5rem;
}

.intro-title {
  color: #ffffff;
  padding: 1em 2em;
}

.title-header {
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  text-indent: 100px;
  background-color: #464ba9;
  border: 3px solid white;
  border-radius: 15px;
}

.menu-button {
  background-color: #646cff;
  position: absolute;
  left: 30px;
  top: 3%;
  font-size: 18px;
}

.generate-button {
  text-align: center;
  padding: 0;
}
